body {
    
    color: darkblue; /* Text color */
    background-color:rgb(14, 238, 238); /* Background color */
    font-family: 'Arial', sans-serif; /* Font family for the body */
}
header{
    background-color:rgb(219, 246, 246);
}
h1 {
    font-family: 'Times New Roman', serif; /* Font family for the heading */
}
.navbar {
    top: 1em;
    left: 1em;
    width: 10em;
}

ul {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0;
    margin: 0;
    position: relative;
    top: 1em;
    left: 1em;
    width: 10em;
}

li {
    margin-bottom: 1em;
}

select {
    /* Additional styles for the dropdown menu */
    width: 150px;
    padding: 0.5em;
}
@media all {
    /* Styles for all devices */
    body {
        font-size: 16px;
    }
}

@media print {
    /* Styles for printing */
    body {
        font-size: 12px;
    }
}
